.cover__link {
  display: block;
  width: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
