.cover__overlay {
  padding: 245px 0;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.4s ease-out;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1184px) {
  .cover__overlay {
    padding: 195px 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    padding: 115px 0;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    padding: 75px 0;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    padding: 33px 0;
  }
}
